/* register.css */

.register-page {
  width: 100vw;
  height: 100vh;
  background: url("/images/auct.png") no-repeat  right bottom;
  display: grid;
  place-content: center;
}

.register-page h3{
  
    font-family: serif;
    font-weight: 700;

}

.register-form {
  width: 90vw;
  padding: 0.5rem 1rem;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.664) 2.12%,
    rgba(255, 254, 254, 0) 98.19%
  );
  box-shadow: 15px 15px 40px -10px #1b1919;
  backdrop-filter: blur(10px);
  border-radius: 30px;
}

.form-wrapper {
  margin:2rem auto;
}
.row-name {
    display: flex;

    column-gap: 20px;
}

label {
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 0.5em;
}

.btn-register {
  border: none;
  text-transform: uppercase;
  margin-left: 0rem !important;
  padding: 0.5rem 2rem;
  border-radius: 18px;
  font-weight: 700;
}

.register-actions {
  gap: 1rem;
  margin-top: 1rem;
}
  
.register-form img{
    width: 100px;
    height: 100px;

}

@media screen and (min-width: 800px) {
  .register-form {
    width: 30vw;
    padding: 1rem;
  }

  .form-wrapper {
    max-width: 70%;
  }

  .register-actions {
    flex-direction: row !important;
  }
}
